.sprite-comet1 {
     background: url(../../../public/images/background/comet/yellow/comet_sprite_sheet.png);
     display: inline-block;
     height: 26px;
     width: 26px;
     background-position: -0px -0px;
 }
 .sprite-comet2 {
     background: url(../../../public/images/background/comet/yellow/comet_sprite_sheet.png);
     display: inline-block;
     height: 26px;
     width: 26px;
     background-position: -26px -0px;
 }
 .sprite-comet3 {
     background: url(../../../public/images/background/comet/yellow/comet_sprite_sheet.png);
     display: inline-block;
     height: 26px;
     width: 26px;
     background-position: -52px -0px;
 }
 .sprite-comet4 {
     background: url(../../../public/images/background/comet/yellow/comet_sprite_sheet.png);
     display: inline-block;
     height: 26px;
     width: 26px;
     background-position: -78px -0px;
 }
 .sprite-comet5 {
     background: url(../../../public/images/background/comet/yellow/comet_sprite_sheet.png);
     display: inline-block;
     height: 26px;
     width: 26px;
     background-position: -104px -0px;
 }
 .sprite-comet6 {
     background: url(../../../public/images/background/comet/yellow/comet_sprite_sheet.png);
     display: inline-block;
     height: 26px;
     width: 26px;
     background-position: -130px -0px;
 }
 .sprite-comet7 {
     background: url(../../../public/images/background/comet/yellow/comet_sprite_sheet.png);
     display: inline-block;
     height: 26px;
     width: 26px;
     background-position: -156px -0px;
 }
 .sprite-comet8 {
     background: url(../../../public/images/background/comet/yellow/comet_sprite_sheet.png);
     display: inline-block;
     height: 26px;
     width: 26px;
     background-position: -182px -0px;
 }

@keyframes comet-anim {
  0% { background-position: 0px 0px; }
  97% { background-position: 0px 0px; }
  100% { background-position: -208px 0px; }
}

.comet-sprite {
  background-image: url('/images/background/comet/yellow/comet_sprite_sheet.png');
  background-size: 208px 26px;
  width: 26px;
  height: 26px;
  image-rendering: pixelated;
}
 