@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  height: 100dvh; /* Dynamic viewport height for mobile */
  width: 100vw;
  overflow: hidden;
  position: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  height: 100vh;
  height: 100dvh; /* Dynamic viewport height for mobile */
  width: 100vw;
  background-color: #000;
}

.page-container {
  transform-style: preserve-3d;
  perspective: 1px;
  perspective-origin: 0 0;
}

.parallax-layer-base {
  position: absolute;
  background-image: url("/images/background/backgrounds/Purple3_tall.webp");
  background-position: center center;
  background-repeat: repeat;
  background-size: 100%;
  z-index: -2;
  transform-origin: 0 0;
}

.parallax-layer-stars {
  position: absolute;
  background-image: url("/images/background/backgrounds/YellowStars_tall.webp");
  background-position: center center;
  background-repeat: repeat;
  background-size: 100%;
  z-index: -1;
  transform-origin: 0 0;
}

/* Chrome/Webkit-specific implementation (excludes Firefox) */
@supports (not (-moz-appearance: none)) {
  .page-container {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .parallax-layer-base {
    top: 0;
    left: 0;
    width: 200%;
    height: 300vh;
    transform: translateZ(-5px) scale(4);
  }

  .parallax-layer-stars {
    top: 0;
    left: 0;
    width: 200%;
    height: 650vh;
    transform: translateZ(-1px) scale(1.5);
  }
}

/* Firefox-specific implementation */
@-moz-document url-prefix() {
  html {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  body {
    perspective: 1px;
    perspective-origin: left top;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .page-container {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .parallax-layer-base {
    width: 100vw;
    aspect-ratio: 5 / 12;
    min-height: 100vh;
    transform: translateZ(-5px) scale(15);
  }

  .parallax-layer-stars {
    width: 100vw;
    aspect-ratio: 5 / 12;
    min-height: 100vh;
    transform: translateZ(-1px) scale(5);
  }
}

/* Custom utility classes */
.bg-noise {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}
