@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
  width: 100vw;
  color-scheme: dark;
  overflow: hidden;
  position: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  transform-style: preserve-3d;
  font-family: "Jost", sans-serif;
  font-size: clamp(0.9rem, 0.8rem + 0.5vw, 1.05rem);
}

body {
  height: 100dvh;
  width: 100vw;
  background-color: #171417;
  perspective: 1px;
  perspective-origin: center center;
  transform-style: preserve-3d;
  overflow-x: hidden;
  backface-visibility: hidden;
}

.page-container {
  transform-style: preserve-3d;
  perspective: 1px;
  overflow-x: hidden;
  perspective-origin: center center;
  backface-visibility: hidden;
}

/* Chrome/Webkit-specific implementation (excludes Firefox) */
@supports (not (-moz-appearance: none)) {
  .page-container {
    height: 100vh;
    overflow-y: auto;
  }
}

/* Firefox-specific implementation */
@-moz-document url-prefix() {
  .page-container {
    overflow-y: hidden;
  }
}

/* Frosted glass effect */
.custom-frosted {
  position: relative;
  background: rgba(14, 2, 9, 0.836);
  border: 2.5px solid rgba(232, 179, 231, 0.2);
  transition: all 0.1s ease-out;
}
.custom-frosted::before {
  content: "";
  position: absolute;
  inset: -2.25px;
  background: linear-gradient(
    to right,
    rgba(59, 130, 246, 0.25),
    rgba(204, 51, 234, 0.25),
    rgba(236, 72, 173, 0.25)
  );
  border-radius: inherit;
  z-index: -1;
  opacity: 0.85;
  transition: opacity 0.1s ease-out;
}

.custom-frosted::after {
  content: "";
  position: absolute;
  inset: -0.25px;
  background: rgba(33, 16, 40, 0.6);
  border-radius: inherit;
  z-index: -2;
}

.custom-frosted:hover::before {
  opacity: 0.9;
}

.custom-frosted:hover {
  background: rgba(43, 13, 49, 0.9);
  border-color: rgba(196, 162, 175, 0.151);
}

.custom-frosted {
  will-change: auto;
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* Darker, more muted frosted glass effect */
.custom-frosted-dark {
  position: relative;
  background: rgba(31, 29, 33, 0.85);
  border: 2px solid rgba(185, 149, 192, 0.35);
  transition: all 0.1s ease-out;
}

.custom-frosted-dark::before {
  content: "";
  position: absolute;
  inset: -1.5px;
  background: linear-gradient(
    to right,
    rgba(60, 34, 94, 0.8),
    rgba(75, 33, 87, 0.7),
    rgba(81, 31, 68, 0.6)
  );
  border-radius: inherit;
  z-index: -1;
  opacity: 0.3;
  filter: saturate(0.1) brightness(0.4);
  transition: opacity 0.1s ease-out;
}

.custom-frosted-dark::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/images/background/backgrounds/Purple3_tall.webp");
  border-radius: inherit;
  z-index: -2;
  opacity: 0.6;
}

.custom-frosted-dark:hover::before {
  opacity: 0.31;
}

.custom-frosted-dark:hover {
  border-color: rgba(222, 212, 228, 0.35);
}

.custom-frosted-dark {
  will-change: auto;
  transform: translateZ(0);
  backface-visibility: hidden;
}
